.animal {
	border-color: #22333b;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: flex;
	height: auto;
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
}

.animal--resumed {
	border-color: #22333b;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	height: auto;
	margin-left: 1%;
	margin-right: 1%;
	width: 18%;
}

.animal--resumed:hover {
	background-color: #22333b;
	color: #eae0d5;
	cursor: pointer;
}

.animal__fields {
	box-sizing: border-box;
	display: inline-block;
}

.animal--resumed__fields {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	width: 50%;
}

.animal__values {
	box-sizing: border-box;
	display: inline-block;
	flex-grow: 1;
}

.animal--resumed__values {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	width: 50%;
}

.animal__fields__text, .animal__fields__text--odd,
.animal__values__text, .animal__values__text--odd {
	padding-bottom: 16px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 16px;
	margin: 0;
}

.animal__fields__text--odd, .animal__values__text--odd {
	background-color: #eae0d5;
}

.animal--resumed__fields__text, .animal--resumed__values__text {
	margin: 0;
}