<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:hsqldb:file:/home/felipe/hsqldb-2.4.0/hsqldb/data/getpetdb</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cglib.use_reflection_optimizer">true</property>
		<property name="hibernate.connection.autocommit">false</property>		
		<property name="connection_pool_size">1</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.es.getpet.core.ed.Animal" />
		<mapping class="com.es.getpet.core.ed.Cuidador" />
		<mapping class="com.es.getpet.core.ed.Adotante" />
	</session-factory>
</hibernate-configuration>